<!--
    Carol Pan 
    SoftDev1 pd7
    HW13 -- A RESTful Journey Skyward
    2017-11-10
  -->

<!DOCTYPE html>

<html>

  <head>
    <title>
      Happy Holiday?
    </title>
    {% if heading %}
    {{heading}}
    {% endif %}
  </head>
  
  <body style="padding:75px">
    <h1> HOLIDAYS IN US 2016 <h2>
    {% if data["holidays"] %}
    {% for date in data["holidays"] %}
    <h2> {{date}} </h2>

    {% for holiday in data["holidays"][date]%}
    <h3>{{holiday["name"]}}</h3>
    date: {{holiday["date"]}} <br>
    observed: {{holiday["observed"]}} <br>
    public: {{holiday["public"]}}<br>
    <br>
    {% endfor %}
    
    {% endfor %}
    {% endif %}
    
  </body>

</html>
